<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Admin</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/user/admin-panel/:Email"></a>Accounts</li>
            <li><a href="/department"></a>Dept</li>
            <li><a href="/grades"></a>Grades</li>
            <li><a href="/semester"></a>Semester</li>
            <li><a href="/current"></a>Assign Semesters</li>
            <li><a href="/instructor"></a>instructor</li>
            <li><a href="/courses"></a>Add Courses</li>
            <li><a href="/viewcourses"></a>View Courses</li>
            <li><a href="/createclass"></a>Create Class</li>
            <li><a href="/createstudent"></a>Add Student</li>
            <li><a href="/gradprob"></a>Graduation or Probation</li>
            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>
            </form>
        </ul>
    </nav>
</header>

<body>
    <section id="main" class="wrapper">
        <div id="courses" class="container">
            <h5>Update Course</h5>
            <div class="card-body">
                <form action="/updateCourse/submit" method="POST">
                    <div class="form-group">
                        <label for="id"></label>
                        <input type="text" class="form-control" value={{courses.Id}} id="id" name="id"
                            placeholder="Enter Course ID">
                    </div>
                    <div class="form-group">
                        <label for="title"></label>
                        <input type="text" class="form-control" value={{courses.Title}} id="title" name="title"
                            placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="department"></label>
                        <input type="text" class="form-control" value={{courses.Dept}} id="department" name="department"
                            placeholder="Enter Department">
                    </div>
                    <div class="form-group">
                        <label for="credits"></label>
                        <input type="text" class="form-control" value={{courses.Credits}} id="credits" name="credits"
                            placeholder="Enter Credits">
                    </div>
                    <div class="form-group">
                        <label for="cost"></label>
                        <input type="text" class="form-control" value={{courses.Cost}} id="cost" name="cost"
                            placeholder="Enter Cost">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Course</button>
                </form>
            </div>
        </div>

    </section>
</body>


</html>