<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Student</title>
</head>
<header>
    <nav>
        <h4>Collegefulbar</h4>
        <ul>
            <li><a href="/viewinsclass"></a>Classes</li>
            <li><a href="/inswork"></a>Instructor Changes</li>

            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>

            </form>
        </ul>
    </nav>
</header>

<body>

    <section id="main" class="wrapper">

    </section>
    <section id="main" class="wrapper">
        <div id="view" class="container">
            <h5>View Classes</h5>

            <table>
                <tbody>
                    <tr>
                        <td> Class ID</td>
                        <td> Course ID </td>
                        <td> Section</td>
                        <td> Instructor</td>
                        <td> Semester</td>
                        <td> Year</td>
                    </tr>
                    {{#each class}}

                    <tr>
                        <td>{{this.Id}}</td>
                        <td>{{this.CourseId}}</td>
                        <td>{{this.Section}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Year}}</td>
                        <td>{{this.Semester}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </section>
    </section>


</body>